.abc {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height: 35px;
  background: none;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-radial-gradient-bb05ed79.jpg");

  padding-top: 10px;
}
.link {
  text-decoration: none;
  font-weight: 400px;
  color: wheat;
}
